<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280636322532-juu5634u53eb4q64tv9plcioounj08n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280636322532-juu5634u53eb4q64tv9plcioounj08n9</string>
	<key>API_KEY</key>
	<string>AIzaSyCLhE8c25w4TDiGcNxET4YW3DtgxQgFAyE</string>
	<key>GCM_SENDER_ID</key>
	<string>280636322532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comelsnerschoolsupplieshub</string>
	<key>PROJECT_ID</key>
	<string>schoolsupplies-5cf3f</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolsupplies-5cf3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280636322532:ios:3b8dd4b13b3061ceb032f1</string>
</dict>
</plist>